Django==5.2.8
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-redis==6.0.0
django-timezone-field==7.1
djangorestframework==3.16.1
celery==5.5.3
httpx==0.28.1
whitenoise==6.11.0
litellm==1.80.0
pyaml==25.7.0
python-dotenv==1.2.1
redis
requests
sphinx
sphinx-rtd-theme
flower
beautifulsoup4
lxml
flower
feedparser
stix2
gunicorn
litellm
psycopg2-binary
pydocstyle
dj_database_url