Django==5.2.8
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-redis==6.0.0
django-timezone-field==7.1
djangorestframework==3.16.1
celery==5.5.3
httpx==0.28.1
whitenoise==6.11.0
litellm==1.80.0
pyaml==25.7.0
python-dotenv==1.2.1
redis==7.1.0
requests
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
flower==2.0.1
beautifulsoup4==4.14.2
lxml==6.0.2
feedparser==6.0.12
stix2==3.0.1
gunicorn==23.0.0
psycopg2-binary==2.9.11
pydocstyle==6.3.0
dj_database_url
